
<!DOCTYPE html>
<html>
    <head>
        <title>patient Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body style="background-image:url(assets/images/doc1.jpg);background-repeat: no-repeat;">
        <div>
        <header>
            <div style="background-color:#333; width: 100% ;height: 80px; text-align: center;">
                <table style=" margin-left: auto;margin-right: auto;">
                    <tr>
                    <td rowspan="3"><img src="assets/images/icon.png" width="80px" height="80px"></td>
                    <td><h1 style="color: whitesmoke;"><b>CareMark</b></h1></td>
                    
                    </tr>
                    <tr>
                        <td style="color: whitesmoke;"><b>&nbsp;&nbsp;&nbsp;Appointment Booking System</b></td>
                    </tr>
                </table>
            </div>

            
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg" style="background-color:aqua; color: black;">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link"  href="#"><b>Home</b></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" style="color: black;" ><b>Appointments</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" style="color: black;" routerLink="/patientlist"><b>Patients</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" style="color: black;" routerLink="/a_diseaselist"><b>Disease</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" style="color: black;" ><b>My Profile</b></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" style="color: black;" routerLink="/home"><b>Log-Out</b></a>
                      </li>
                  </ul>
                </div>
              </nav>
            
          </header>
         
         <div style="height: 540px; background-image: url('Mphasis.jpg');background-repeat: no-repeat;
        
         background-size: cover;">
           
        </div> 
         <footer>
            <div class="footer-copyright text-center py-3" style="background-color:teal;">© 2021 Copyright
              </div>
         </footer>
        </div>
    </body>
</html>