<nav class="navbar">
    <ul class="navbar-items">
        <li class="navbar-item">
            <a routerLink="/" routerLinkActive = "active">Hospital Management</a>
        </li>
        <li class="navbar-item">
            <a routerLink="Admin" routerLinkActive = "active">Admin</a>
        </li>
        <li class="navbar-item">
            <a routerLink="Doctor" routerLinkActive = "active">Doctor</a>
        </li>
        <li class="navbar-item">
            <a routerLink="Patient" routerLinkActive = "active">Patient</a>
        </li>
    </ul>
</nav>