<!DOCTYPE html>
<html>
<head>
<title>Home page</title>
</head>
<body style="background-image:url(assets/images/feedbackground.jpg)">

			<div class="header">
				<ul>
					<li style="float:left;border-right:none"><a href="#" class="logo"><img src="assets/images/icon.png" width="35px" height="35px"><strong> CareMark </strong>Appointment Booking System</a></li>
					<li><a routerLink="/adminlogin"  class="nav-link" >Admin</a><li>
					<li><a routerLink="/patientlogin"  class="nav-link" >Patient</a></li>
					<li><a routerLink="/doctor"  class="nav-link" >Doctor</a></li>
					<li><a routerLink="/add_patient"  class="nav-link" >New User Patient</a></li>
				</ul>
			</div>
			<div>
				<h1 style="font-size:50px; padding-top:50px; text-shadow: 2px 2px 5px red;">CareMark+</h1><br>
			</div>	
			<div class="footer">
				<div style="position:fixed;background-color:black;  bottom: 0;width: 100%; height:10%;padding-bottom:10px">
					<h1 style="text-align:center;color:white;font-size:20px">Copyrigths@2021</h1>
				</div>
			</div>
</body>
</html>
